.sift .cover{
  background: url(/img/sift/sift_cover.png) fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 350px;
}

.design_plan_main p, .dev_plan_main p{
  padding-top: 20px;
}

img{
  width: 100%;
  height: auto;
}

body{
  background-color: white;

}

main.sift{
  margin: 0px;
  background-color: white;
}

.sift h1, h2{
  color: #003965;
}

.sift h2{
  font-weight: 600;
}
.sift_margins{
  margin: 10px;
}

.sift_h1{
  margin-top: 40px;
  margin-bottom: 10px;
}

.project_info_wrapper{
  display: grid;
  grid-template-columns: 80px 2fr;
  max-width: 500px;
  padding-bottom: 20px;
}

.bold{
  font-weight: 600;
}

.sift h3{
  font-size: 20px;
  margin-top: 20px;
  padding-bottom: 10px;
}

.section_line{
  border: 1px solid rgb(220, 220, 220);
  margin: 50px 0 20px 0;
  border-radius: 100px;
}

h2{
  padding-bottom: 10px;
  padding-top: 30px;
}

.process{
  padding-top: 20px;
}

.section_line_dotted{
  border: 1px dashed rgb(220, 220, 220);
    margin: 50px 0 20px 0;
    border-radius: 100px;
}

.grey_container{
  background-color: #F3F4F8;
  border: 1px solid #E7EAF8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
}

.research{
  padding-top: 10px;
  width: 90%;
  margin: auto;
  display: block;
  text-align: center;
}

.research_link{
  padding-top: 10px;
}

#research_link {
  text-decoration: underline !important;
  color: #003965;
  text-align: center;
}

/* Features Start */

.features_container{
  background-color: #F3F4F8;
  border: 1px solid #E7EAF8;
  border-radius: 5px;
}

.features_container h3{
  color: #164989;
  font-size: 25px;
  text-align: center;
}

.features_container img{
  width: 60%;
  margin: 20px auto 0px auto;
  display: block;
}

.features_container p{
margin: 0 20px 20px 20px;
}
.section_wrapper_features{
  display: grid;
  grid-gap: 10px;
}

/* Features End */


.grey_container .process{
  padding: 10px 20px;
  margin: 0;
}

/* Personas Start */
.section_wrapper_personas img{
  border: 1px solid rgb(235, 235, 255);
}
/* Personas End */

/* Wireframes Start */
.section_wrapper_wireframes_2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding-bottom: 20px;
  align-items: start;
}
.section_wrapper_wireframes_2 img{
  border: 1px solid rgb(235, 235, 235);
}
.section_wrapper_wireframes_2 div li a{
  color: #003965;
  font-size: 14px;
}
.section_wrapper_wireframes_2 div li {
  padding-bottom: 5px;
}

/* Wireframes End */


.color_ui img{
  width: auto;
  margin: 25px;
  height: 300px;
}

.color_ui .sectio_wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.logo_and_typo_wrapper p{
  margin-bottom: 20px;
}

/* Illusstrations Start */

.sift_block_main_wrapper{
  display: grid;
  grid-gap: 5px;
}

.icons_5{
  order: 1;
}
.illustrations_space p{
  padding-bottom: 10px;
}

.illustrations .grey_container img{
  height: 350px;
  width: auto;
  margin: 20px 0;
}

/* Illusstrations End */



/* System Architecture Start */
  .system_ar img{
    border: 1px solid rgb(230, 230, 230);
    
  }
/* System Architecture End */

.promo_meterial img, .future_r_map img {
  border: 1.5px solid rgb(221, 221, 255);
}

.future_r_map img{
  margin-top: 20px;
}

/* See other projects Start */

.see_other_projects{
background-color: #EEEEFF;
margin-top: 20px;
}

.see_other_projects h2{
  margin: 0 10px ;
}
.project_links{
  padding: 10px;
  padding-bottom: 20px;
}

#play_day_display_none, #ux_display_none {
  display: none;
}
 
/* See other projects End */


/******************************* TABLET START *******************************/

@media only screen and (min-width: 750px) {
  p{
    line-height: 1.8em;
  }
  .sift_margins{
    margin: 10px 40px;
  }

  h2{
    margin-top: 30px;
  }

  .about_main_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px;
    align-items: center;
    margin-top: 60px;
  }
  .about_main_wrapper h1{
    margin-top: 0;
  }

  .sift_block_main_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 35px;
  }

  .h2_process{
    grid-column: 1 / 3 !important;
  }

  /* .sections_wrapper_process{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 35px;
  } */

  .process {
    padding-top: 0px;
  }
  /* Process Start */
  .grey_container.tools{
    margin-top: 0;
  }
  .sections_wrapper_process .grey_container{
    margin-top: 0;

  }
  /* .sections_wrapper_process{
      display: flex;
      column-gap: 35px;
      flex-direction: row;
      align-items: stretch;
  } */

  /* .sections_wrapper_process .grey_container{
    margin: 0;
    display: flex;
    justify-content: center;
  } */

  

  /* Process End */
  
  /* Features Start */

  .section_wrapper_features{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;
    gap: 35px;
  }

  /* Features End */
  /* Comp  & Toools Start */

  /* Comp & Toools End */

  /* Personas Start */
 .section_wrapper_personas{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-gap: 10px;
 column-gap: 35px;
 grid-column: 1 / 4;
 }
 .sift_block_main_wrapper h2{
  grid-column: 1 / 3;
 }

 .illustrations.sift_block_main_wrapper h2{
  grid-column: 1 / 4;
 }

  #personas_wrapper{
    grid-gap: 10px;
  }
   /* Personas End */

  .grey_container{
  padding: 20px;
  }
  /* User Flow Start */
  .user_flow img{
    grid-column: 1 / 4;
  }
  .section_wrapper_text{
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    column-gap: 35px;
    padding-top: 20px;
  }
  /* User Flow End */

/* Wireframes Start */

  .text_decrtiption_wrapper{
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    column-gap: 35px;
    padding-top: 0px;
  }

  .section_wrapper_wireframes_2{
    column-gap: 35px;
  }

  #ux_display_none, #play_day_display_none{
    display: block;
  }

  .project_links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 0 40px;
    padding: 10px 0 20px 0;
  }
  .see_other_projects h2{
    margin: 0 40px;
  }
  .wireframes h2{
    grid-column: 1/4 !important;
  }

/* Wireframes End */

/* High Fidelity Screens Start */
  .section_wrapper_high_fidelity_4, .section_wrapper_wireframes_4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / 4;
    column-gap: 35px;
  }

 

  /* High Fidelity Screens End */

  /* Color Palette and UI Start */

  .color_ui img{
    width: auto;
    margin: 10px auto;
    height: 250px;
  }

  #color_ui #section_ui_1, #color_ui #section_ui_2{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      /* align-items: stretch; */
  }

  /* Color Palette and UI End */

  /* Illustrations Start*/

  section.section_wrapper.illustrations_space {
    display: flex;
    justify-content: space-between;
  }

  .icons_5{
    order: 0;
    grid-column: 2/ 4;
  }

  .illustrations .grey_container img{
    height: auto;
    width: 90%;
  }

  .illustrations .grey_container{
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  section.section_wrapper.icons_5 {
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* align-items: stretch; */
   
  }

  .illustrations{
    gap: 35px;
  }
  /* Illustrations End*/

  /* System Archetecture Start */

  .system_ar{
    padding: 5%;
    background-color: #E7EAF8;
    margin-top: 30px;
    grid-column: 1/3;
  }
  .system_main_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
 
  .system_1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 69px;
  grid-column: 1/3;
  }

  .system_ar img{
   border-radius: 5px;
  }
  /* System Archetecture End */
  /* Video Start */

  .system_2 .big_wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 69px;
  }


  .vide_container{
    padding: 5%;
    background-color: #000000;
    margin-top: 30px;
  }
   /* Video End */

.future_r_map{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.text_r_map{
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 35px
}

.retro_impovement{
  padding-bottom: 50px;
}


}



@media only screen and (min-width: 1030px) {

   .sift_margins{
    max-width: 1020px;
    margin: auto;
  }

  .about_main_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px;
    align-items: center;
    margin-top: 80px;
  }

  /* Research Start */
  .grey_container_research{
   padding: 10px 50px;
   margin-top: 0;
  }
  #research_link a{
    font-size: 14px;
    color: #003965;
  }
  /* Research End */

  .illustrations .grey_container img{
    height: auto;
    width: 75%;
  
  }

  /* video */
  .system_2 iframe{
    height: 490px;
  }

  .project_links{
  width: 1020px;
  margin: auto;
}

.see_other_projects h2{
  width: 1020px;
  margin: auto;
}

.logo_and_typo_wrapper p{
  margin-bottom: 20px;
}

 

}

